---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import CapabilitiesSection from '../components/CapabilitiesSection';
import AgentShowcase from '../components/AgentShowcase';
import WhyLocalSection from '../components/WhyLocalSection';
import DownloadCTA from '../components/DownloadCTA';
import Footer from '../components/Footer';
---

<Layout>
  <Navbar client:load />

  <main>
    <Hero client:load />
    <CapabilitiesSection client:visible />
    <AgentShowcase client:visible />
    <WhyLocalSection client:visible />
    <DownloadCTA client:visible />
  </main>

  <Footer client:visible />
</Layout>
